asn1crypto==1.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
iniconfig==2.1.0
packaging==25.0
pg8000==1.31.2
pluggy==1.5.0
pytest==8.3.5
python-dateutil==2.9.0.post0
requests==2.32.3
scramp==1.4.5
six==1.17.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
urllib3==2.4.0
vk-api==11.9.9
